@media(max-width:1023px){
    .contendor-carrito{
        margin: 2% auto;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
   .img-kite{
       width: 80px;
       height: 80px;
   }
   
}
@media(min-width:1024px){

    .img-kite{
        width: 150px;
        height: 150px;
    }
    .amount{
        font-size: 3rem;
    }
}

