.contenedor-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.confirm-message{
    font-family: var(--headingFont2);
    font-size: 34px;
    margin-top: 3%;

}