.navbar{
  max-height: 80px;
}
.nav-item{
  padding: 1rem;
}
.nav-link{
  font-size: 2rem;
}
.contenedor-logo{
  float: right;
  margin: 2% 5%;
}
.logo{
  font-size: 4rem;
  margin: auto;
}
.logo-link{
  color:#eac77d;
  font-size: 4rem;
  margin: auto;
  font-family: 'Pattaya', sans-serif;
  text-decoration: none;
}