
@media(max-width:1023px){

  .nav-item{
    padding: 1rem;
  }
  .nav-link{
    font-size: 2rem;
  }
  .container-fluid{
    display: block;
  }
  .contenedor-logo{
    float: right;
    margin: 2% 3%;
  }
  
  .logo-link{
    margin-top: 2%;
    color:#eac77d;
    font-size: 2rem;
    margin: auto;
    font-family: 'Pattaya', sans-serif;
    text-decoration: none;
  }
  .img-logo{
    width: 80px;
    height: 80px;
  }
}
@media(min-width:1024px){
  .navbar{
    max-height: 80px;
  }
  .nav-item{
    padding: 1rem;
  }
  .nav-link{
    font-size: 2rem;
  }
  .contenedor-logo{
    float: right;
    margin: 2% 5%;
  }
  .logo{
    font-size: 3rem;
    margin: auto;
  }
  .logo-link{
    color:#eac77d;
    font-size: 3rem;
    margin: auto;
    font-family: 'Pattaya', sans-serif;
    text-decoration: none;
  }
  .img-logo{
    width: 60px;
    height: 60px;
  }
}
