.contenedor-seccion{

    padding: 0.5rem;
}
.contenedor-seccion h2{
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bolder;
}

.contenedor-productos{
    padding: 2rem;
    margin: 10px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.contenedor-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parrafo-carrito{
    width: 350px;
    height: 60px;
    background-color: #ddffbc ;
    text-align: center;
}